<% @items.each do|item|%>
	<% if item.module_type == 1 %>
	<li class="list-group-item first clearfix" data-id="<%= item.id%>" data-position="<%= item.position%>"><div class="list-group-item-heading"><span class="icon icon-move"></span><div><%= item.name%></div><div><a href="<%=edit_admin_home_home_item_path(@home, item, :module_type =>1) %>"  class="btn btn-sm btn-primary"><%= I18n.t('home.edit')%></a><button type="button" class="btn btn-sm btn-danger module-delete" data-id="<%= item.id%>"><%= I18n.t('home.delete')%></button></div></div></li>
	<% elsif item.module_type == 2 %>
		<li class="list-group-item first clearfix" data-id="<%= item.id%>" data-position="<%= item.position%>"><div class="list-group-item-heading"><span class="icon icon-move"></span><div>Carousel</div><div><button class="btn btn-sm btn-success add-carousel" data-id="<%=item.id%>" data-homeid="<%= @home.id%>"><%= I18n.t('home.add')%></button><button type="button" class="btn btn-sm btn-danger module-delete" data-id="<%= item.id%>"><%= I18n.t('home.delete')%></button></div></div><div class="list-group-item-text">
				<% item.children.backend_items.each do|child| %>
				<div class="carousel" data-id="<%=child.id %>"><span class="icon icon-align-justify handle"></span><span><%= child.name %></span><a href="<%=edit_admin_home_home_item_path(@home, child, :module_type =>2) %>"  class="btn btn-sm btn-primary"><%= I18n.t('home.edit')%></a><button type="button" class="btn btn-sm btn-danger module-delete" data-id="<%= child.id%>"><%= I18n.t('home.delete')%></button></div>
				<% end %></div></li>
	<% elsif item.module_type == 3 %>
	<li class="list-group-item first clearfix" data-id="<%= item.id%>" data-position="<%= item.position%>"><div class="list-group-item-heading"><span class="icon icon-move"></span><div>Taxon</div><div><button type="button" class="btn btn-sm btn-danger module-delete" data-id="<%= item.id%>"><%= I18n.t('home.delete')%></button></div></div><div class="list-group-item-text">
				<% item.children.backend_items.each do|child| %>
				<div class="taxon" data-id="<%=child.id %>"><span class="icon icon-align-justify handle"></span><span><%= child.name %></span><a href="<%=edit_admin_home_home_item_path(@home, child, :module_type =>3) %>"  class="btn btn-sm btn-primary"><%= I18n.t('home.edit')%></a></div>
				<% end %></div></li>
	<% elsif item.module_type == 4 %>
	<li class="list-group-item first clearfix" data-id="<%= item.id%>" data-position="<%= item.position%>"><div class="list-group-item-heading"><span class="icon icon-move"></span><div><%= item.name%></div><div><a href="<%=edit_admin_home_home_item_path(@home, item, :module_type =>4) %>" class="btn btn-sm btn-primary"><%= I18n.t('home.edit')%></a><button type="button" class="btn btn-sm btn-danger module-delete" data-id="<%= item.id%>"><%= I18n.t('home.delete')%></button></div></div></li>
	<% elsif item.module_type == 5 %>
	<li class="list-group-item arrival clearfix" data-id="<%= item.id%>" data-position="<%= item.position%>"><div class="list-group-item-heading"><span></span><div>New Arrivals Feed<div>（Note：Every Time Loading 25 Products）</div></div><div><button type="button" class="btn btn-sm btn-danger module-delete" data-id="<%= item.id%>"><%= I18n.t('home.delete')%></button></div></div></li>
	<% end %>	
<% end %>	